
body {
  background-color: #f5f0f0;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 106vh;
}


.game {
  background-color: #222;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  width: fit-content;
}


h1 {
  margin-bottom: 10px;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #00f7ff;
}


p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #a28c8c;
}


.board {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.square {
  width: 80px;
  height: 80px;
  font-size: 2rem;
  font-weight: bold;
  background-color: #fff;
  color: #111;
  border: 2px solid #444;
  border-radius: 10px;
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
}

.square:hover {
  transform: scale(1.05);
}


.winning-square {
  background-color: #0f0;
  color: black;
}

/* Reset button */
.reset-button {
  margin-top: 10px;
  padding: 12px 40px;
  font-size: 1rem;
  font-weight: bold;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.reset-button:hover {
  background-color: #ff4c4c;
}
